
from discord import Embed


def getEmbed(anonymousMsg: str, anoymousUsername: str, color: hex) -> Embed:
    embed = Embed()
    embed.description = f"{anoymousUsername}：\n{anonymousMsg}"  # 详情说明
    embed.colour = color  # 颜色需要随机
    return embed