from discord import Embed, Member


def getEmbed(money, member: Member) -> Embed:
    embed = Embed()
    embed.title = "签到成功"
    embed.description = f"<@!{member.id}> ，你获得{money}货币！"
    embed.colour = 0xff9900
    return embed