from discord import Embed


def getEmbed(user_name, reward, price, quantity) -> Embed:
    embed = Embed()
    embed.title = "幸运抽奖" #大标题
    embed.description = f"{user_name}已发布抽奖活动！奖品是{reward}" #详情说明
    embed.add_field(name=f"抽奖券{price}/张，数量有限，只有{quantity}个！", value="↓点击反应购买抽奖券参与抽奖", inline=False) #小标题3
    embed.colour = 0xe34bab #0x留着，后面加颜色编号
    embed.set_thumbnail(url="https://www.funnynation.org/wp-content/uploads/2022/02/宇宙素材-3.png") #右上角的图

    return embed