from discord import Embed


def getEmbed(awardedUsernameString, publisher, reward) -> Embed:
    embed = Embed()
    embed.title = "开奖啦！" #大标题
    embed.description = f"恭喜！\n{awardedUsernameString}" #详情说明
    embed.add_field(name=f"获得由@{publisher}提供的奖品{reward}", value="记得及时兑奖哦！", inline=False) #小标题3
    embed.colour = 0xe34bab #0x留着，后面加颜色编号
    embed.set_thumbnail(url="https://www.funnynation.org/wp-content/uploads/2022/02/宇宙素材-3.png") #右上角的图

    return embed