from discord import Embed


def getEmbed(userName: str) -> Embed:
    embed = Embed()
    embed.title = f"{userName}的红包已经发出!" #大标题
    embed.colour = 0xff2121 #0x留着，后面加颜色编号
    embed.set_thumbnail(url="https://www.funnynation.org/wp-content/uploads/2022/02/红包.png") #右上角的图
    embed.set_footer(text="↓点击反应抢红包")
    return embed

def newPerson(embed: Embed, userName: str, amountOfMoneyForDisplay: str):
    embed.add_field(name="-", value=f"恭喜{userName}！你抢到了{amountOfMoneyForDisplay}元！", inline=False)

def newPersonWithZero(embed: Embed, userName: str):
    embed.description += f"\n太惨了{userName}！你一分钱都没抢到！"

def addBestLuck(embed: Embed, userName: str, amountOfMoneyForDisplay: str):
    embed.add_field(name=f"-\n恭喜运气王{userName}！", value=f"你抢到了最大的红包！{amountOfMoneyForDisplay}元！", inline=False)
    embed.set_footer(text=f'红包抢完了')