[private]
token=yourToken

[database]
address=yourDatabaseAddress
username=yourUserName
password=yourPassword
database=yourDatabase

# Amount of money (cents) would be earned in server
[moneyEarning]
perMessage=100
perCheckIn=1000
perMinuteInVoice=50
perMinuteInVoiceWithStream=80

[command]
prefix=Boss

[cashFlowMessage]
earnFromStream=直播收益
earnFromVoice=语音在线收益
earnMoneyFromMessage=消息收益
earnFromCheckIn=每日签到收益
blackJackSpend=21点入场费
blackJackRefund=21点入场费退款
blackJackWin=21点奖金
giftSent=送礼
giftReceived=收礼
holdemAnte=德州扑克底注
holdemAnteRefund=德州扑克底注退款
holdemSpent=德州扑克消费
holdemWin=德州扑克胜利
sendLuckMoney=发红包
getLuckyMoney=红包


[gameWaitForPlayer]
secondWaitingPerPerson = 30
secondOnWarning = 5

[log]
path=log/
memoryLog=onMemory/

[gift]
channel=reportingChannel

[img]
giftImgPath=img/gift/