;这些都是凉下的点子，出了事情别找我。喜欢凉下的同学请套用下面的模版。

[爱心]
displayName=小爱心
amount=5200
msgFormat=感谢?@sender送给小宝贝?@receiver的一个小爱心！mua~

[生日灯牌]
displayName=生日灯牌
amount=10000
msgFormat=?@receiver！?@sender祝你生日快乐哟！要天天开心呀！


[锁了]
displayName=锁了
amount=15000
msgFormat=感谢?@sender送给小宝贝?@receiver的一个锁！快一起贴贴


[爆笑]
displayName=笑爆了家人们
amount=23300
msgFormat=?@receiver由于太搞笑导致?@sender笑到打嗝并送出一个爆笑礼物！


[比心]
displayName=比心
amount=30000
msgFormat=感谢?@sender送给小宝贝?@receiver的一个比心！爱你哟~

[花束]
displayName=花束
amount=50000
msgFormat=?@sender拿着一捧花走到?@receiver面前说：宝，你可真好看哇！

[皇冠]
displayName=皇冠
amount=88800
msgFormat=感谢?@sender送给?@receiver的皇冠一个！别低头~皇冠会掉哦！

[钻石]
displayName=钻石承诺
amount=131400
msgFormat=感谢?@sender送给小宝贝?@receiver的一个大钻石！呀呀呀呀好闪！

[元宝]
displayName=元宝
amount=222200
msgFormat=感谢?@sender送给小宝贝?@receiver的一个大元宝！祝你明天就暴富呀！

[巨轮]
displayName=友谊的巨轮
amount=360000
msgFormat=感谢?@sender送出的巨轮！看！?@sender和?@receiver正站在友谊的巨轮上乘风破浪~

[表白]
displayName=想对你表白
amount=520000
msgFormat=感谢?@sender送出的表白熊熊！TA拿着大喇叭对着?@receiver喊到：好喜欢你呀！呀！呀！（回音）

[劳斯莱斯]
displayName=RR幻影
amount=1000000
msgFormat=感谢?@sender送给?@receiver的一辆RR幻影！两人正坐在车上往城市边缘开，还把车窗都摇下来~
