[dailyMoneyEarning]
earnFromStream=直播收益
earnFromVoice=语音在线收益
earnMoneyFromMessage=消息收益
earnFromCheckIn=每日签到收益

[blackJack]
blackJackSpend=21点入场费
blackJackRefund=21点入场费退款
blackJackWin=21点奖金

[gift]
giftSent=送礼
giftReceived=收礼

[holdem]
holdemAnte=德州扑克底注
holdemAnteRefund=德州扑克底注退款
holdemSpent=德州扑克消费
holdemWin=德州扑克胜利

[vip]
buyVIP=购买VIP

[luckyMoney]
sendLuckMoney=发红包
getLuckyMoney=红包

[lottery]
participatedLottery=参与抽奖消费
withdrawnLottery=抽奖返还
