[moneyEarning]
perMessage=100
perCheckIn=1000
perMinuteInVoice=50
perMinuteInVoiceWithStream=80

[gameWaitForPlayer]
secondWaitingPerPerson = 30
secondOnWarning = 5


[command]
prefix=user

[log]
path=log/
memoryLog=onMemory/

[announcement]
channel=🌈𝐺𝐻𝑆大喇叭

[img]
giftImgPath=img/gift/

[anonymityBoard]
channel=894462030663270434