[moneyEarning]
activityPointPerMessage=5
activityPointPerMinuteInChannel=8
activityPointPerMinuteInStream=10
earningPeriodInMinute=30
initialPeriodEarning=40000
reducePeriodInMinute=10080
reduceFactorBetweenPeriods=0.9
antiInvolutionFactor=2

[gameWaitForPlayer]
secondWaitingPerPerson = 30
secondOnWarning = 5


[command]
prefix=user

[log]
path=log/
memoryLog=onMemory/

[announcement]
channelID=914308441428873236

[img]
giftImgPath=img/gift/

[anonymityBoard]
channelID=894462030663270434