# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Create configuration files
      run: |
        cp config.ini.example config.ini
        cp yoyo.ini.example yoyo.ini
        sed -i -e 's/yourAddresss/${{ secrets.MYSQL_DB_ADDR_CI }}/g' yoyo.ini
        sed -i -e 's/yourUsername/${{ secrets.MYSQL_DB_USERNAME_FOR_CI }}/g' yoyo.ini
        sed -i -e 's/yourPassword/${{ secrets.MYSQL_DB_PWD_FOR_CI }}/g' yoyo.ini
        sed -i -e 's/yourDatabase/${{ secrets.MYSQL_DB_ADDR_CI }}/g' yoyo.ini
        sed -i -e 's/yourDatabaseAddress/${{ secrets.MYSQL_DB_ADDR_CI }}/g' config.ini
        sed -i -e 's/yourUserName/${{ secrets.MYSQL_DB_USERNAME_FOR_CI }}/g' config.ini
        sed -i -e 's/yourPassword/${{ secrets.MYSQL_DB_PWD_FOR_CI }}/g' config.ini
        sed -i -e 's/yourDatabase/${{ secrets.MYSQL_DB_ADDR_CI }}/g' config.ini
        sed -i -e 's/yourToken/${{ secrets.TOKEN_FOR_CI }}/g' config.ini
        cat yoyo.ini
        
    - name: Database migration
      run: |
        yoyo apply ./migrations
    
    - name: Test with pytest
      run: |
        pytest
